/* Popup.module.css */

.popupOverlay {
  /* Existing styles */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--overlay); /* Initial background color */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1000;
}

/* Entering (appearing) */
.overlayEnter {
  background-color: white;
}

.overlayEnterActive {
  background-color: var(--overlay);
  transition: background-color 0.2s ease;
}

.overlayExitActive {
  background-color: white;
  transition: background-color 0.2s ease;
}

.popupContent {
  /* Existing styles */
  background: white;
  border-radius: 5px;
  width: 600px;
  margin: 20px;
}

.popupHeader {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

.searchInput {
  font-size: 16px;
  /* color: #b2b2b2; */
  width: 100%;
  text-align: left;
  border:transparent;
  margin-left: 2px
}

.searchInput:placeholder{
  color: #cbcbcb;
}


