/* /components/SearchBar.module.css */

.searchBar {
  display: flex;
  padding: 17px 17px 20px 17px;
  align-items: center;
  align-self: center;
  width: 400px;
  height: 10px;
  border: solid 1px #cbcbcb;
  border-radius: 5px;
  margin: 15px;
}


.searchInput {
  padding: 5px;
  font-size: 14px;
  color: #333;
  /* background-color: pink; */
  border: none;
  background-color: transparent;
  border-radius: 5px;
  width: 100%;
}

.searchInput::placeholder {
  color: #cbcbcb;
}

.searchInput:focus {
  outline: none;
}

.searchIcon {
  font-size: 10px;
  margin-left: -10px;
  margin-right: 2px;
  margin-top: 2px;
}
