/* Popup.module.css */

.popupOverlay {
  /* Existing styles */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--overlay); /* Initial background color */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1000;
}

/* Entering (appearing) */
.overlayEnter {
  background-color: rgba(255, 255, 255, 0);
}

.overlayEnterActive {
  background-color: var(--overlay);
  transition: background-color 0.1s ease;
}

.overlayExitActive {
  background-color:  rgba(255, 255, 255, 0);
  transition: background-color 0.1s ease;
}

.popupContent {
  /* Existing styles */
  background: white;
  border-radius: 5px;
  width: 600px;
  margin: 20px;
}

.popupHeader {
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: center;
  gap: 5px;
}

.searchInput {
  font-size: 16px;
  color: black;
  width: 100%;
  text-align: left;
  border:transparent;
  margin-left: 2px;
}

.searchInput::placeholder {
  color: var(--input-text);
}

.searchInput:focus {
  outline: none;
}

.searchIcon {
  font-size: 11px;
  margin-left: 10px;
  color: rgb(78, 78, 78);
}

.searchContent {
  display: flex-column;
  padding: 20px;
  padding-top: 0px
}

.searchItem {
  display: flex;
  flex-direction: row;
  padding: 8px;
  gap: 10px;
  border-bottom: 1px solid var(--border);
  color: var(--regular-text);
  font-size: 15px;
  background-color: aliceblue;
  align-items: center;
}

.searchItemContact {
  font-size: 12px;
  color: var(--sub-text);
}

