/* /components/SearchBar.module.css */

.searchBar {
  display: flex;
  padding: 17px 17px 20px 17px;
  align-items: center;
  justify-content: left;
  align-self: center;
  width: 400px;
  height: 10px;
  border: solid 1px #cbcbcb;
  border-radius: 5px;
  margin: 15px;
  cursor: pointer;
  background-color: white;
}

.searchBar:focus {
  border-color: var(--border-focus);
  border-width: 3px;
  margin: 13px;
}


.searchInput {
  font-size: 16px;
  width: 100%;
  text-align: left;
  margin-left: 8px;
  margin-top: 2px;
  color: var(--input-text);
}

.searchInput:focus {
  outline: none;
}

.searchIcon {
  font-size: 10px;
  margin-left: -8px;
  margin-right: 2px;
  margin-top: 2px;
}